[user]
    name = "kattee530"
    email = "176741005+kattee530@users.noreply.github.com"
[core]
    # Use vim as editor when commit
    editor = vim
    # Convert CRLF to LF on commit
    autoclrf = input
    # Prevent Japanese garbled text
    quotepath = false
[merge]
    # Generate merge commit when merging
    ff = false
[pull]
    # Don't generate merge commit when pulling
    ff = only
[init]
    defaultBranch = main
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
